"""This file specifies the hosts used by the go.py script.

Copy this file to settings.py and then add the hosts you want to connect
and tunnel to as individual dictionary entries within the HOSTS list.
"""

# {{ ansible_managed }}

HOSTS = [
{% for _item in launcher_inventory_hosts %}
{% if _item != ansible_hostname %}
    {
        'nickname': '{{ _item }}',
        'fqdn':     '{{ hostvars[_item]['ansible_fqdn']|default('')|replace('lcoalhost', '') }}',
        'ip':       '{{ hostvars[_item]['ansible_host']|default('') }}',
        'port':     '{{ hostvars[_item]['ansible_port']|default(22) }}',
    },
{% endif %}
{% endfor %}
{% for _item in launcher_hosts %}
    {
        'nickname': '{{ _item.nickname|default('') }}',
        'fqdn':     '{{ _item.fqdn|default('')|replace('localhost', '') }}',
        'ip':       '{{ _item.ip|default('') }}',
        'port':     '{{ _item.port|default(22) }}',
    },
{% endfor %}
]
